/*small devices*/

@media (min-width:300px) and (max-width:767.98px) {


.grid-coloum3
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
}

#section-1
{
    padding: 100px 0 0 0;
}

#section-2
{
    height: auto;
}

.col3-2row
{
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    padding: 0 0 0 18px;
}

#section-3 img
{
    height:325px;
    width: 445px;
}

.grid-1col-sec4
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 300px;
    padding: 30px 60px;
    
}

#section-6 img
{
    width: 250px;
    
}

#section-6
{
    height:auto;
    width: auto; 
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.col2-1row
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
}

#bc-white
{
    background-color: white;
    width: 400px;
    padding: 30px 0 40px 0;
}

.col2-1row
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
}

#booking-sec
{
    height: auto;
}

.footer-booking
{
    text-align: center;
    padding: 8px 0 8px 0 ;
    position:relative;
    bottom: 0;
    width: 100%;
}

}